fastapi==0.115.4
uvicorn==0.32.0
pydantic==2.9.2
SQLAlchemy==2.0.39
psycopg2-binary==2.9.10
pyyaml==6.0.2
requests==2.32.3
python-dotenv==1.1.0
typing_extensions==4.12.2
minio==7.2.9
pytest==7.4.2
psycopg2==2.9.10