<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenny, the open source Library Lending System</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <script defer src="js/index.js"></script>
</head>
<body>
  <h1>Lenny</h1>
  <img src="/static/images/lenny.png">
  <p>Lenny is a free, open source Library Lending System. You can learn more about it on <a href="https://github.com/mekarpeles/Lenny">github</a>.</p>
</body>
</html>
