<!DOCTYPE html>
<html>
  <head>
    <title>Lenny API</title>
  </head>
  <body>
    <h3>Please authenticate by providing your email to receive a one-time-password in order to access this item.</h3>
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
    <form action="{{ post_url }}" method="POST">
      <label>Email <input type="email" name="email"/></label>
      <input type="hidden" name="book_id" value="{{book_id}}" />
      <input type="hidden" name="action" value="{{action}}" />
      <input type="hidden" name="next" value="{{next}}" />
      <input type="hidden" name="beta" value="true"/>
      <input type="submit"/>
    </form>
  </body>
</html>
